NODE_ENV=development # Or 'production'
DEBUG=true # Display debug level logs in the console

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=CHANGEME
MYSQL_DATABASE=your_database_name

TRUST_PROXY=false # Set to 'true' if behind a proxy (e.g., when using nginx or a load balancer)
PORT=3000

SESSION_SECRET=CHANGEME